<polymer-element
  name="designer-component-tray-item"
  attributes="name description label author updatedat thumbnail">
  <script>
  require(['filer', 'request'], function(filer, request) {
    window.filer = filer;
    Polymer('designer-component-tray-item', {
      imageError : function(){
        this.thumbnail = "/images/component-thumbnail-fallback.gif";
      },
      nimble: function (e) {
        window.nimbleClicked = false;
        var fs = new filer.FileSystem({
            name: "component",
            provider: new filer.FileSystem.providers.Fallback()
        });

        var sh = fs.Shell();
        var ccsName = this.name;
        var componentsName = ccsName.replace("ceci", "component");
        request.get("http://localhost:5001/component/mozilla-appmaker/" + componentsName + "/component.html",
          function (error1, resp) {
            if (error1) {
                throw error1;
            };
            request.get("http://localhost:5001/component/mozilla-appmaker/" + componentsName + "/component.css",
              function (error2, res) {
                if (error2) {
                    throw error2;
                };
                var regexp = new RegExp(ccsName, 'g');
                var newString = resp.text.replace(regexp, ccsName + "-remix");
                fs.writeFile("/component/component.html", newString, function (error3) {
                    fs.writeFile("/component/component.css", res.text, function (error4) {
                        if (!error3 && !error4) {
                          window.nimbleClicked = true;
                          window.otherwindow = window.open("http://localhost:5001/brackets/src/?" + componentsName, 'myWindow');
                        } else {
                            throw error3;
                        }
                    });
                });
            });
        });
      }
    });

  });

  </script>
  <template>

    <link rel="stylesheet" href="/stylesheets/designer-component-tray-item.css">
    <div class="add-component component-card" name="{{name}}" show="true">
    <div class="add-tooltip small" on-click="{{nimble}}">Remix in Nimble</div>
      <div class="add-tooltip">+</div>
      <div class="component-preview">
        <div class="image-wrapper"><img on-error="{{imageError}}" src="{{thumbnail}}"></div>
        <div class="add-component-overlay"></div>
      </div>
      <div class="component-description">
        <h1>{{label}}</h1>
        <h6>{{description}}</h6>
        <div class="more-info">
          <div class="friends">
            <h3>Friends</h3>
            <div>No Friends</div>
          </div>
          <div class="tags clearfix">
            <div class="tag"></div>
            <content type="designer-component-tag"></content>
          </div>
          <div class="author">
            <h5>By: {{author}} | Last edited {{updatedat}}</h5>
          </div>
        </div>
      </div>
      <a class="show-more" href="#">More Info</a>
    </div>
  </template>
</polymer-element>
